* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */
header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 2;
}

header a {
  color: white;
  font-size: 15px;
}
header .navbar-brand {
  color: white;
  font-size: 35px;
  padding-left: 5px;
}
header i {
  color: rgb(22, 199, 22);
  font-size: 50px;
}
header i:hover {
  color: rgb(57, 237, 57);
}

header .navbar .nav-item.active a {
  color: #35a22c;
}

header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
}

header .navbar .nav-item a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar .nav-item a:hover {
  color: green;
}
header .navbar .nav-item a:hover::before,
header .navbar .nav-item.active a::before {
  width: 100%;
}
/* end header */

/* start carousel */
#carousel .carousel-item {
  height: 100vh;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.carousel-caption h5 {
  font-size: 56px;
}
.carousel-caption p {
  font-size: 24px;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}

.carousel-indicators .active {
  background-color: #35a22c;
}

.carousel-indicators {
  bottom: 50px;
}

/* end carousel */

/* start project */
.project__items {
  text-align: center;
  padding-bottom: 10px;
}
.project__items h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.project__items p {
  color: #585858;
  line-height: 24px;
}
#projects .nav {
  justify-content: center;
}

#projects .card {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
}

#projects .card-body {
  border: 1px solid transparent;
  border-top: transparent;

  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

#projects .card:hover .card-body {
  border-color: #35a22c;
}
#projects .card-body:hover h5 {
  color: #35a22c;
}

#projects .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #35a22c;
  border: none;
}

#projects .nav-pills .nav-link {
  margin: 5px;
  border: 1px solid black;
}
/* end projects */

/* start feature */
.feature {
  background: url("./image/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feature .heading {
  position: relative;
}

.feature.text-white {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.feature__item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature__item:hover {
  background-color: #1a1d2d;
  border: 1px solid white;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* end feature */

/* start award*/
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award_content {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
  margin-left: 250px;
}
.heading1 h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.heading1 p {
  color: #585858;
  line-height: 24px;
}
.award__right {
  padding: 45px 0;
}
.award__right .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 140px;
}
.award__right p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-right: 200px;
}
.row1 {
  display: flex;
  position: relative;
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  /* border: 1px solid red; */
}
.row1 .col .img-fluid {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 946px) {
  .award__right p {
    padding: 0;
  }
  .award__left {
    margin: 0;
  }
  .row1 {
    width: 100%;
  }
}

/* end award */

/* start footer */
footer {
  background-color: #222;
}
footer .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer__icon a {
  margin-right: 10px;
}
footer a {
  color: #aaa;
}
.footer__icon i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.footer__copyright {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
footer p {
  color: #aaa;
  margin: 0;
}
footer a {
  color: #aaa;
  text-decoration: none;
  background-color: transparent;
}
/* end footer */